@import 'breadcrumb.css';

.tab_menue {width: *;}
.td_3 {width: 200px;}
.td_4 {width: 170px;}
.td_div_left{padding-left: 20px;float:left; font-size:25px; margin-right: 10px;width: 70px;text-align: right;}
.td_div_right{float:left;font-size: 10px;width: 90px;text-align: center;}
.stage_empty{width: 10px;}
.table { border-bottom: 1px solid white;border-top: transparent solid 4px;}


tr:nth-child(even) {background: #242222;}
tr:nth-child(odd) {background: #000000;}

.right {position: absolute; right: 5px;}
.copyright {font-size: 10px; color: #ccc; }
.copyright a {color:rgb(75, 77, 75);}
