
footer()
  div(class="copyright right")
    a(href="#" class="white-link" title="to TOP")
      span(class="fa fa-arrow-up")
  div(class="")
    center()
      span= 'copyright 2018 - build: '+ HTML_VERSION + ' - '
      a(href='http://www.mgeo.de' class="footer")='mgeo.de'
